# Making Necessary Imports:

In [126]:
import pandas as pd;
import numpy as np;
import heapq as hq;

# Initializing the Constants to be Used in The Program:

In [127]:
# "adult.data" file.
inputDataURL = "https://raw.githubusercontent.com/Aditya-163/MLDA-1-Project-1/main/Data/adult.data"; 
# "adult.test" file.
testDataURL = "https://raw.githubusercontent.com/Aditya-163/MLDA-1-Project-1/main/Data/adult.test";

# Attributes in the data.
colNames = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","captial-gain","capital-loss","hours-per-week","native-country","income"];

# Reading The Required Data:

In [128]:
inputData = pd.read_csv(inputDataURL, names=colNames);
print("Some rows from the input data are shown below:");
print(inputData);
testData = pd.read_csv(testDataURL, names=colNames);

Some rows from the input data are shown below:
       age          workclass  fnlwgt  ... hours-per-week  native-country  income
0       39          State-gov   77516  ...             40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38            Private  215646  ...             40   United-States   <=50K
3       53            Private  234721  ...             40   United-States   <=50K
4       28            Private  338409  ...             40            Cuba   <=50K
...    ...                ...     ...  ...            ...             ...     ...
32556   27            Private  257302  ...             38   United-States   <=50K
32557   40            Private  154374  ...             40   United-States    >50K
32558   58            Private  151910  ...             40   United-States   <=50K
32559   22            Private  201490  ...             20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...             40   United-States    >50K

[32561 rows x 15 columns]

# Pre-Processing The Data:

In [129]:
# Write code for pre-processing the data!
# print(inputData[inputData["fnlwgt"].eq(121772)]["native-country"]);
# inputData[inputData["native-country"].eq("?")]

#--------------------------------------------
colNamesWithoutIncome = colNames;
colNamesWithoutIncome.remove("income")

# Information From the Data:

In [130]:
# Ouput Some Information Regarding the Data, like: Size of the data, number of atteributes, 
# number of differen values of each attribue, mean/ median/ mode, number of data points corrected etc.

# Utility Functions:

**Function to Compute the distance** between 2 data points:

The function (**or metric**) used to compute the distance is:

**WRITE THE FUNCTION/METRIC USED.**

In [131]:
def distance(testDataRow, inputDataRow):
  
  dist = 0;

  for attr in colNamesWithoutIncome:
    break; # Write the actual code!
  
  return dist;

**Function to Classify** a test data point:

In [132]:
def classify(k, testDataRow, inputData):
  
  distances = list();
  hq.heapify(distances);
  computationNumber = 0;

  for index, inputDataRow in inputData.iterrows():
    distBtwPoints = distance(testDataRow,inputDataRow);
    hq.heappush(distances,(distBtwPoints, computationNumber, inputDataPoint["income"]));
    computationNumber = cumputationNumber + 1;

  numOfNNWithLessIncome = 0;
  numOfNNWithMoreIncome = 0;

  for i in range(k):
    heapTuple = hq.heappop(distances);
    if heapTuple[2] == encodedGreaterThanFTK:
      numOfNNWithMoreIncome = numOfNNWithMoreIncome + 1;
    else:
      numOfNNWithLessIncome = numOfNNWithLessIncome + 1;
  
  if numOfNNWithLessIncome >= numOfNNWithMoreIncome:
    return encodedLessThanOrEqualFTK;
  else:
    return encodedGreaterThanFTK;

**Function to perfrom KNN** classification for a given k, input data and the test data:

In [133]:
def knn(k,testData,inputData):

  correctClassifications = 0;
  wrongClassifications = 0;

  for index, testDataRow in testData.iterrows():
    classifiedClass = classify(k,testDataRow,inputData);
    if classifiedClass == testDataRow["income"]:
      correctClassifications = correctClassifications + 1;
    else:
      wrongClassifications = wrongClassifications + 1;

  accuracy = (correctClassifications*100)/(correctClassifications + wrongClassifications);
  return accuracy;

**Function to Output the Results:**

In [134]:
def showResults(accuracyAndKData): # accuracyAndKData should be of the form = (k,accuracyForK)

  print("The observed accuracies of the k-NN classifier for different values of k are plotted below:");
  # Make a plot of k vs accuracy!

  return ;

# Main (or the driver) code:

This is the **main** Python code that makes use of above funtions to perfrom KNN based classification with multiple different values of k.

In [135]:
def main():

  kAndAccuracy = list();
  
  kMin = 2;
  kStep = 2;
  kMax = 100;
  
  for k in range(kMin,kStep,kMax):
    accuracy = knn(k,testData,inputData);
    kAndAccuracy.append((k,accuracy));

  showResults(kAndAccuracy);
  
  return ;

# Calling The Main Function:

In [137]:
main();

The observed accuracies of the k-NN classifier for different values of k are plotted below: