# Making Necessary Imports:

In [12]:
import pandas as pd;
import numpy as np;
import heapq as hq;

# Initializing the Constants to be Used in The Program:

In [24]:
# "adult.data" file.
inputDataURL = "https://raw.githubusercontent.com/Aditya-163/MLDA-1-Project-1/main/Data/adult.data"; 
# "adult.test" file.
testDataURL = "https://raw.githubusercontent.com/Aditya-163/MLDA-1-Project-1/main/Data/adult.test";

# Attributes in the data.
colNames = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","captial-gain","capital-loss","hours-per-week","native-country","income"]; 

# Number of Nominal Attributes!
numOfNominalAttrs = 8; 
# Number of Ordinal Attributes!
numOfOrdinalAttrs = 0;
# Number of Numerical Attribute!
numOfNumAttrs = 6;

# Reading The Required Data:

In [28]:
inputData = pd.read_csv(inputDataURL, names=colNames);
print("Some rows from the input data are shown below:");
print(inputData);
testData = pd.read_csv(testDataURL, names=colNames);

Some rows from the input data are shown below:
       age          workclass  fnlwgt  ... hours-per-week  native-country  income
0       39          State-gov   77516  ...             40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38            Private  215646  ...             40   United-States   <=50K
3       53            Private  234721  ...             40   United-States   <=50K
4       28            Private  338409  ...             40            Cuba   <=50K
...    ...                ...     ...  ...            ...             ...     ...
32556   27            Private  257302  ...             38   United-States   <=50K
32557   40            Private  154374  ...             40   United-States    >50K
32558   58            Private  151910  ...             40   United-States   <=50K
32559   22            Private  201490  ...             20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...             40   United-States    >50K

[32561 rows x 15 columns]

# Pre-Processing The Data:

### Normalizing Numerical Data:

In [29]:
# age:
inputData['age'] = (inputData['age']-inputData['age'].min())/(inputData['age'].max() - inputData['age'].min());
print('Normalized values of age:'), print(inputData['age']), print('\n');

# fnlwgt:
inputData['fnlwgt'] = (inputData['fnlwgt']-inputData['fnlwgt'].min())/(inputData['fnlwgt'].max() - inputData['fnlwgt'].min());
print('Normalized values of fnlwgt:'), print(inputData['fnlwgt']), print('\n');

# education-num:
inputData['education-num'] = (inputData['education-num']-inputData['education-num'].min())/(inputData['education-num'].max() - inputData['education-num'].min());
print('Normalized values of education-num:'), print(inputData['education-num']), print('\n');

# capital-gain:
inputData['captial-gain'] = (inputData['captial-gain']-inputData['captial-gain'].min())/(inputData['captial-gain'].max() - inputData['captial-gain'].min());
print('Normalized values of capital-gain:'), print(inputData['captial-gain']), print('\n');

# capital-loss:
inputData['capital-loss'] = (inputData['capital-loss']-inputData['capital-loss'].min())/(inputData['capital-loss'].max() - inputData['capital-loss'].min());
print('Normalized values of capital-loss:'), print(inputData['capital-loss']), print('\n');

# hours-per-week:
inputData['hours-per-week'] = (inputData['hours-per-week']-inputData['hours-per-week'].min())/(inputData['hours-per-week'].max() - inputData['hours-per-week'].min());
print('Normalized values of hours-per-week:'), print(inputData['hours-per-week']), print('\n');

0 4356
Normalized values of age:
0        0.301370
1        0.452055
2        0.287671
3        0.493151
4        0.150685
           ...
32556    0.136986
32557    0.315068
32558    0.561644
32559    0.068493
32560    0.479452
Name: age, Length: 32561, dtype: float64


Normalized values of fnlwgt:
0        0.044302
1        0.048238
2        0.138113
3        0.151068
4        0.221488
           ...
32556    0.166404
32557    0.096500
32558    0.094827
32559    0.128499
32560    0.187203
Name: fnlwgt, Length: 32561, dtype: float64


Normalized values of education-num:
0        0.800000
1        0.800000
2        0.533333
3        0.400000
4        0.800000
           ...
32556    0.733333
32557    0.533333
32558    0.533333
32559    0.533333
32560    0.533333
Name: education-num, Length: 32561, dtype: float64


Normalized values of capital-gain:
0        0.021740
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
32556    0.000000
32557    0.000000
32558    0.000000
32559    0.000000
32560    0.150242
Name: captial-gain, Length: 32561, dtype: float64


Normalized values of capital-loss:
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
32556    0.0
32557    0.0
32558    0.0
32559    0.0
32560    0.0
Name: capital-loss, Length: 32561, dtype: float64


Normalized values of hours-per-week:
0        0.397959
1        0.122449
2        0.397959
3        0.397959
4        0.397959
           ...
32556    0.377551
32557    0.397959
32558    0.397959
32559    0.193878
32560    0.397959
Name: hours-per-week, Length: 32561, dtype: float64


0.0 1.0

In [11]:
# Write code for pre-processing the data!
# print(inputData[inputData["fnlwgt"].eq(121772)]["native-country"]);
# inputData[inputData["native-country"].eq("?")]

#--------------------------------------------
colNamesWithoutIncome = colNames;
colNamesWithoutIncome.remove("income");

0        0.301370
1        0.452055
2        0.287671
3        0.493151
4        0.150685
           ...
32556    0.136986
32557    0.315068
32558    0.561644
32559    0.068493
32560    0.479452
Name: age, Length: 32561, dtype: float64

# Information From the Data:

In [ ]:
# Ouput Some Information Regarding the Data, like: Size of the data, number of atteributes, 
# number of differen values of each attribue, mean/ median/ mode, number of data points corrected etc.

# Utility Functions:

**Function to Compute the distance** between 2 data points:

The function (**or metric**) used to compute the distance is:

**WRITE THE FUNCTION/METRIC USED.**

In [ ]:
def distance(testDataRow, inputDataRow):
  
  dist = 0;

  for attr in colNamesWithoutIncome:
    break; # Write the actual code!
  
  return dist;

**Function to Classify** a test data point:

In [ ]:
def classify(k, testDataRow, inputData):
  
  distances = list();
  hq.heapify(distances);
  computationNumber = 0;

  for index, inputDataRow in inputData.iterrows():
    distBtwPoints = distance(testDataRow,inputDataRow);
    hq.heappush(distances,(distBtwPoints, computationNumber, inputDataPoint["income"]));
    computationNumber = cumputationNumber + 1;

  numOfNNWithLessIncome = 0;
  numOfNNWithMoreIncome = 0;

  for i in range(k):
    heapTuple = hq.heappop(distances);
    if heapTuple[2] == encodedGreaterThanFTK:
      numOfNNWithMoreIncome = numOfNNWithMoreIncome + 1;
    else:
      numOfNNWithLessIncome = numOfNNWithLessIncome + 1;
  
  if numOfNNWithLessIncome >= numOfNNWithMoreIncome:
    return encodedLessThanOrEqualFTK;
  else:
    return encodedGreaterThanFTK;

**Function to perfrom KNN** classification for a given k, input data and the test data:

In [ ]:
def knn(k,testData,inputData):

  correctClassifications = 0;
  wrongClassifications = 0;

  for index, testDataRow in testData.iterrows():
    classifiedClass = classify(k,testDataRow,inputData);
    if classifiedClass == testDataRow["income"]:
      correctClassifications = correctClassifications + 1;
    else:
      wrongClassifications = wrongClassifications + 1;

  accuracy = (correctClassifications*100)/(correctClassifications + wrongClassifications);
  return accuracy;

**Function to Output the Results:**

In [ ]:
def showResults(accuracyAndKData): # accuracyAndKData should be of the form = (k,accuracyForK)

  print("The observed accuracies of the k-NN classifier for different values of k are plotted below:");
  # Make a plot of k vs accuracy!

  return ;

# Main (or the driver) code:

This is the **main** Python code that makes use of above funtions to perfrom KNN based classification with multiple different values of k.

In [ ]:
def main():

  kAndAccuracy = list();
  
  kMin = 2;
  kStep = 2;
  kMax = 100;
  
  for k in range(kMin,kStep,kMax):
    accuracy = knn(k,testData,inputData);
    kAndAccuracy.append((k,accuracy));

  showResults(kAndAccuracy);
  
  return ;

# Calling The Main Function:

In [ ]:
main();

The observed accuracies of the k-NN classifier for different values of k are plotted below: